Django==3.2.13
django-timezone-field==4.1.1
django-celery-beat==2.2.0
django-tenants==3.4.2
celery==5.0.5
pywin32==304; sys_platform == 'win32'
tenant-schemas-celery==1.0.1
django-celery-results==2.0.1
psycopg2==2.9.3

# Install django-tenants-celery-beat
-e ..
